<div class="alert alert-danger" role="alert" *ngIf="alertd">
  Email not valid <a href='\reset-password' class="alert-link">try again</a>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <form>
      <div class="mb-3">
        <label for="resetPasswordEmail" class="form-label">User account</label>
        <input type="email"
               class="form-control reset-password-input"
               id="resetPasswordEmail"
               placeholder="Enter email"
               (change)="emailUser($event)"
        >
        <h1 *ngIf="validEmail" class="password-text"> Your password is: <p style="color: red">{{password}}</p> </h1>
        <div class="row">
          <div class="col">
            <nav>
              <a routerLink="/reset-password" routerLinkActive="active">
                <button type="submit" class="btn btn-primary" (click)="emailValidation()">Remember password</button>
              </a>
            </nav>
          </div>
          <div class="col">
            <nav>
              <a routerLink="/login" routerLinkActive="active">
                <button type="submit" class="btn btn-primary">Go back to login</button>
              </a>
            </nav>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
